.dark-background {
  --background-color: #000820;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #001553;
  --contrast-color: #ffffff;
}



/* Pulsating Play Button
------------------------------*/
.pulsating-play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--accent-color) 50%, color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.pulsating-play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-play-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.pulsating-play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pulsating-play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.pulsating-play-btn:hover:after {
  border-left: 15px solid var(--accent-color);
  transform: scale(20);
}

@keyframes pulsate-play-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# event-page Section
--------------------------------------------------------------*/
.event-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.event-page img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.event-page:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.event-page .container {
  position: relative;
  z-index: 3;
}

.event-page h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

.event-page h2 span {
  color: var(--accent-color);
}

.event-page p {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (max-width: 768px) {
  .event-page h2 {
    font-size: 32px;
    line-height: 36px;
  }

  .event-page p {
    font-size: 18px;
    line-height: 24px;
  }
}

.event-page .about-info {
  overflow: hidden;
  position: relative;
  padding: 60px 0 40px 0;
  z-index: 2;
  width: 100%;
}

.event-page .about-info:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.event-page .about-info h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.event-page .about-info h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

.event-page .about-info p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}


/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
.schedule {
  --background-color: color-mix(in srgb, var(--alt-background-color), transparent 95%);
}

.schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

.schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

.schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: var(--heading-color);
  color: var(--contrast-color);
  padding: 10px 50px;
}

@media (max-width: 991px) {
  .schedule .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  .schedule .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  .schedule .nav-tabs a {
    padding: 8px 30px;
  }
}

.schedule .nav-tabs a.active {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
  .schedule .sub-heading {
    width: 75%;
  }
}

.schedule .tab-pane {
  transition: ease-in-out 0.2s;
}

.schedule .schedule-item {
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}

.schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

/* .schedule .schedule-item .speaker {
  width: 100%;
  height: 250px;
  overflow: hidden;
  float: left;
}

.schedule .schedule-item .speaker img {
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
} */

.schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.schedule .schedule-item h4 span {
  font-style: italic;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-weight: normal;
  font-size: 16px;
}

.schedule .schedule-item p {
  font-style: italic;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin-bottom: 10px;
}

.schedule .schedule-item .learn-more {
  color: var(--accent-color);
  font-weight: 600;
}

.schedule .schedule-item .learn-more i {
  font-size: 24px;
  font-weight: 900;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
.venue .container-fluid {
  margin-bottom: 3px;
}

.venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.venue .venue-info {
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.venue .venue-info:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.venue .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--contrast-color);
}

@media (max-width: 574px) {
  .venue .venue-info h3 {
    font-size: 24px;
  }
}

.venue .venue-info p {
  color: var(--contrast-color);
  margin-bottom: 0;
}

.venue .venue-gallery-container {
  padding-right: 12px;
}

.venue .venue-gallery {
  overflow: hidden;
  border-right: 3px solid var(--background-color);
  border-bottom: 3px solid var(--background-color);
}

.venue .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

.venue .venue-gallery:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Blog Details Section
--------------------------------------------------------------*/
.blog-details {
  padding-bottom: 30px;
}

.blog-details .article {
  background-color: var(--surface-color);
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog-details .title {
  color: var(--heading-color);
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0;
}

.blog-details .content {
  margin-top: 20px;
}

.blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-details .content blockquote {
  overflow: hidden;
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-details .content blockquote p {
  color: var(--default-color);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-details .meta-top {
  margin-top: 20px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-details .meta-top ul li+li {
  padding-left: 20px;
}

.blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.blog-details .meta-bottom i {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  display: inline;
}

.blog-details .meta-bottom a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
  color: var(--accent-color);
}

.blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog-details .meta-bottom .cats li {
  display: inline-block;
}

.blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog-details .meta-bottom .tags li {
  display: inline-block;
}

.blog-details .meta-bottom .tags li+li::before {
  padding-right: 6px;
  color: var(--default-color);
  content: ",";
}

.blog-details .meta-bottom .share {
  font-size: 16px;
}

.blog-details .meta-bottom .share i {
  padding-left: 5px;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-item {
  margin-bottom: 30px;
  background-color: color-mix(in srgb, var(--surface-color), transparent 98%);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  padding: 30px;
  border-radius: 5px;
}

.widget-item:last-child {
  margin-bottom: 0;
}


.recent-posts-widget .post-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.recent-posts-widget .post-item h4 a {
  color: var(--heading-color);
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0
}

.recent-posts-widget .post-item:last-child {
  margin-bottom: 0;
}

.recent-posts-widget .post-item h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.recent-posts-widget .post-item h4 a {
  color: var(--default-color);
  transition: 0.3s;
}

.recent-posts-widget .post-item h4 a:hover {
  color: var(--accent-color);
}

.recent-posts-widget .post-item time {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}


/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .team-member {
  background-color: var(--surface-color);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  padding: 30px;
  height: 100%;
}

@media (max-width: 468px) {
  .team .team-member {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}

.team .team-member .pic {
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
}

.team .team-member .pic img {
  transition: ease-in-out 0.3s;
}

.team .team-member:hover {
  transform: translateY(-10px);
}

.team .team-member .member-info {
  padding-left: 30px;
}

@media (max-width: 468px) {
  .team .team-member .member-info {
    padding: 30px 0 0 0;
    text-align: center;
  }
}

.team .team-member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}

.team .team-member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .team-member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: color-mix(in srgb, var(--default-color), transparent 85%);
  bottom: 0;
  left: 0;
}

@media (max-width: 468px) {
  .team .team-member span::after {
    left: calc(50% - 25px);
  }
}

.team .team-member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .team-member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

@media (max-width: 468px) {
  .team .team-member .social {
    justify-content: center;
  }
}

.team .team-member .social a {
  background: color-mix(in srgb, var(--default-color), transparent 94%);
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 36px;
  height: 36px;
}

.team .team-member .social a i {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  font-size: 16px;
  margin: 0 2px;
}

.team .team-member .social a:hover {
  background: var(--accent-color);
}

.team .team-member .social a:hover i {
  color: var(--contrast-color);
}

.team .team-member .social a+a {
  margin-left: 8px;
}


.popular-destinations {
  background-color: #eef1f6;
}

.card-img-top {
  height: 250px;
  /* Set your desired height */
  object-fit: cover;
}

/* Show only on mobile devices */
@media (max-width: 768px) {
  .qr-mobile-button {
    display: block !important;
    text-align: center;
    /* optional, center the button */
    margin: 10px 0;
  }

  .qr-mobile-button button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .qr-mobile-button button:hover {
    background-color: #0056b3;
  }
}

/* Hide on larger screens */
@media (min-width: 769px) {
  .qr-mobile-button {
    display: none !important;
  }
}